# Fichiers sensibles
src/main/resources/application.properties

# Sauvegardes
*.bak

# Compiled
target/
*.class

# Logs
*.log

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/
